<div class="feedback-form-container">
  <mat-card class="feedback-form mat-elevation-z6">
    <mat-card-header>
      <mat-card-title class="mat-h1" i18n="feedback form title"
        >Feedback form</mat-card-title
      >
    </mat-card-header>

    <mat-card-content>
      <form
        #feedbackForm="ngForm"
        (ngSubmit)="feedbackForm.form.valid && saveFeedback()"
        novalidate
      >
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n="label for name field in feedback form"
            >Name</mat-label
          >
          <input
            matInput
            name="name"
            placeholder="Name"
            i18n-placeholder="placeholder for name field in feedback form"
            [(ngModel)]="customerFeedback.name"
            #name="ngModel"
            required
          />
          <mat-error
            i18n="Required error message for name field"
            *ngIf="feedbackForm.submitted && name.errors?.['required']"
            >Name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n="label for gender field in feedback form"
            >Gender</mat-label
          >
          <mat-select
            placeholder="Gender"
            i18n-placeholder="placeholder for gender field in feedback form"
            name="gender"
            [(ngModel)]="customerFeedback.gender"
            #gender="ngModel"
            required
          >
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Others">Other</mat-option>
          </mat-select>
          <mat-error
            i18n="Required error message for gender field"
            *ngIf="feedbackForm.submitted && gender.errors?.['required']"
            >Gender is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n="label for comment field in feedback form"
            >Comment</mat-label
          >
          <textarea
            matInput
            placeholder="Comment"
            i18n-placeholder="placeholder for comment field in feedback form"
            name="comment"
            [(ngModel)]="customerFeedback.comment"
            #comment="ngModel"
            required
          ></textarea>
          <mat-error
            i18n="Required error message for comment field"
            *ngIf="feedbackForm.submitted && comment.errors?.['required']"
            >Comment is required
          </mat-error>
        </mat-form-field>
        <mat-label i18n="label for rating field in feedback form"
          >Rate our customer service:
        </mat-label>
        <mat-radio-group
          i18n
          class="example-radio-group"
          name="rating"
          [(ngModel)]="customerFeedback.rating"
          #rating="ngModel"
          required
        >
          <mat-radio-button class="example-radio-button" value="Excellent">
            Excellent
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="Good">
            Good
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value="Bad">
            Bad
          </mat-radio-button>
        </mat-radio-group>
        <mat-error
          i18n="Required error message for rating field"
          *ngIf="feedbackForm.submitted && rating.errors?.['required']"
          >Rating is required</mat-error
        >
        <mat-card-actions align="end">
          <button i18n type="submit" mat-raised-button color="primary">
            Submit
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
